.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Ensure .blog-card is responsive on smaller screens */
.blog-card {
  margin: 20px auto;
  max-width: 100%; /* Remove the fixed max-width for mobile */
  background: rgba(18, 17, 37, 0.9);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.blog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.blog-card-view {
  padding: 20px;
  text-align: left;
}

.blog-title {
  font-size: 1.6em; /* Adjust for smaller screens */
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--imp-text-color);
}

.blog-description {
  font-size: 0.95em; /* Adjust for readability on mobile */
  line-height: 1.5;
  color: #e4d9f5;
  margin-bottom: 15px;
}

.blog-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--imp-text-color);
  transition: color 0.3s ease;
}

.blog-link:hover {
  color: rgba(222, 130, 235, 0.911);
}

/* Blog section styles */
.blog-section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: var(--section-background-color);
  text-align: center;
  color: white;
}

.blog-heading {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--imp-text-color);
}

.blog-post-content {
  width: 66.6%;
  padding: 20px;
  margin: 0;
  background-color: "white";
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
  .blog-card {
    max-width: 100%; /* Allow full width */
    margin: 10px 0;
  }

  .blog-title {
    font-size: 1.4em;
    margin-top: 80px; /* Make title smaller on mobile */
  }

  .blog-description {
    font-size: 0.9em; /* Smaller description font */
  }

  .blog-link {
    font-size: 1em; /* Adjust link font size */
  }

  .blog-heading {
    font-size: 2em; /* Smaller heading */
    margin-bottom: 20px; /* Adjust margin */
  }

  /* Adjust padding in blog section */
  .blog-section {
    padding-top: 80px; /* Less padding for mobile */
    padding-bottom: 40px;
  }

  .blog-post-content {
    width: 100%;
    padding: 20px;
    margin: 0; /* Remove margin */
  }
}

/* Mobile responsive adjustments */
@media (max-width: 1000px) {
  .blog-card {
    max-width: 100%; /* Allow full width */
    margin: 10px 0;
  }

  .blog-title {
    font-size: 1.4em;
    margin-top: 80px; /* Make title smaller on mobile */
  }

  .blog-description {
    font-size: 0.9em; /* Smaller description font */
  }

  .blog-link {
    font-size: 1em; /* Adjust link font size */
  }

  .blog-heading {
    font-size: 2em; /* Smaller heading */
    margin-bottom: 20px; /* Adjust margin */
  }

  /* Adjust padding in blog section */
  .blog-section {
    padding-top: 80px; /* Less padding for mobile */
    padding-bottom: 40px;
  }

  .blog-post-content {
    width: 100%;
    padding: 20px;
    margin: 0; /* Remove margin */
  }
}

/* Very small screens */
@media (max-width: 480px) {
  .blog-title {
    font-size: 1.2em;
    margin-top: 80px; /* Further reduce title font size */
  }

  .blog-post-content {
    width: 100%;
    padding: 20px;
    margin: 0;
  }

  .blog-description {
    font-size: 0.85em; /* Even smaller description font */
  }

  .blog-heading {
    font-size: 1.5em; /* Make heading even smaller */
  }

  /* Adjust padding for very small devices */
  .blog-section {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
